<ion-view title="About App" hide-back-button="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
           
 <header class="w3-container w3-blue  w3-padding" style="color:#fff !important;" id="myHeader">
 	<div class="w3-center">
 	<h1 style="color:#FFF;">Eagle Eye</h1>
 	<h4 style="color:#FFF;">Save property , live prosperity!!!<br></h4>
  </div>
</header>
<div class="w3-row-padding w3-margin-top">

	<div class="w3-half">
	  <div class="w3-card-2">
	    <img src="img/house.jpg" alt="Home Mobile" style="width:100%">
	    <div class="w3-container">
	    	<center><h4>Home Mobile</h4></center>
			<p><b>Sound Detect</b> – This will be detecting the different type of sounds from home using mobile mike.</p>
			<p><b>Alert Me </b>– This will be send a alert message to the user when the sound has been detected.</p>
			<p><b>Snap It</b> – This will be capture the snaps and send it to User.</p>
			<p><b>Stream It</b> – This will be send the live video of their home.</p>
			<p><b>Alert Cops and Neighbour</b> – This will alert the Cops and nearby neighbours. So that we can catch the
thief easily.</p>
	    </div>
	  </div>
	</div>
	<br><br>
	<div class="w3-half">
	  <div class="w3-card-2">
	    <img src="img/user.png" alt="User Mobile" style="width:100%">
	    <div class="w3-container">
	    	<center><h4>User Mobile</h4></center>
		<p><b>Photo Capture</b> – If we want to see what is happen in our home then we can choose this one.</p>
		<p><b>Live Stream</b> – Using that snaps we couldn’t find that is thief or not then we will go for live video.</p>
		<p><b>Inform to Cops</b> – Once we confirmed it is thief then we can instruct the home mobile to inform to cops
and nearby neighbors.</p>
	    </div>
	  </div>
	</div>
</div>

<br/>



  
     
      

  </ion-content>
</ion-view>
