<ion-view title="Notification Status" hide-back-button="true">
  
  <ion-content class="has-header padding">
           

            

       <img src="img/catch.jpg" height="50%" width="100%"> 

       

       <center><font size="5px"><p style="color:blue;">We caught the theif.</p></font></center><br>
      
      <button class="button button-outline button-positive button-block" ui-sref="app.dashboard">Home</button>

      
      
      
      <br>
      
      
  </ion-content>
</ion-view>
