<ion-view title="Help" hide-back-button="false">
   <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> 
  <ion-content class="has-header padding">
          <div class="list ">
             <h5><b><font color="#3F51B5">1.  How Do I Book a Water Supply Tanker?</b></h5></font>
             <p>
                 You can Book the Water Supply Tanker by clicking on “BOOK NOW” or “BOOK LATER” tab from the ‘Book Tanker’ option in the Side Menu. 
                  </p>
                    
                </a>

                <h5><b><font color="#3F51B5">2.  What are my Payment Option?</b></h5></font>
                <p>
                 You can Pay Cash on Delivery or Pay through our Payment Gateway through the Application. 
                  </p>

                  <h5><b><font color="#3F51B5">3. Why is my Tanker Capacity of any relevance?</b></h5></font>
                <p>
                  The tank capacity informs us of the available storage so that we can the amount of water to fill it respectively
                  </p>   
            </div>  
      
  </ion-content>
</ion-view>
