<ion-view title="Histroy" hide-back-button="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
            <br>

       <div class="list">

    <a class="item item-avatar" ui-sref="app.alert4">
      <img src="img/photo.jpg">
      <h2>Photo Capture</h2>
      <p>Capture the Snaps.</p>
    </a>
    <a class="item item-avatar" ui-sref="app.alert5">
      <img src="img/live.jpg">
      <h2>Live Video</h2>
      <p>Send the Live Relay.</p>
    </a>
    <a class="item item-avatar" ui-sref="app.alert6">
      <img src="img/police.jpg">
      <h2>Inform to Cops</h2>
      <p>Send the information<br> to Cops and Neighbours.</p>
    </a>

    

</div>
<br>
 <button class="button button-outline button-stable button-block" ui-sref="app.dashboard">Cancel</button>

      
      </div>
      
  </ion-content>
</ion-view>
