<ion-view view-title="WaSu">   
 <ion-content >       
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide style="background: #880E4F center; background-size: cover; color:#FFF;">
            <h1 style="color:#FFF">WaSu</h3>
            <div id="logo">
              <img src="img/icon.png">
            </div>

            <h4 style="color:#FFF;">India's First IoT based end to end Water Wise Solution.</h4>
           
          </ion-slide>
          <ion-slide style="background: #827717 center; background-size: cover; color:#FFF;">
            <h3 style="color:#FFF;">Using Awesome</h3>
            
            <div id="list">
              <ol>
               &nbsp; <li>User can spend their vacations without any fear.</li>
                &nbsp;<li>This application will take any action only when it gets permission from user.</li>
               
              </ol>
            </div>
          </ion-slide>
          <ion-slide style="background: #37474F center; background-size: cover; color:#FFF;">
            <h3 style="color:#FFF;">Modes of App</h3>
            <div id="list">
              <ol>
               &nbsp; <li>&nbsp;&nbsp;Watchman Mode </li>
                &nbsp;<li>&nbsp;&nbsp;Alert Mode</li>
                
              </ol>
              <br/><br/>
              <button ui-sref="signup" class="button button-positive button-block ">Get me in</button>
              </div>
          </ion-slide>
        </ion-slide-box>

    </ion-content>

    
</ion-view>
