<ion-view title="Watchman Mode" hide-back-button="true">
  
  <ion-content class="has-header padding">
           

            <br><br>

       <img src="img/watch.png" height="50%" width="100%"> <br><br><br><br>
      
      <button class="button button-outline button-positive button-block" ui-sref="app.watch3">Start Watching</button>

      <button class="button button-outline button-balanced button-block" ui-sref="app.watch2">Back</button>
      
      <button class="button button-outline button-stable button-block" ui-sref="app.dashboard">
        Cancel
      </button>
      
      </div>
      
  </ion-content>
</ion-view>
