<ion-view title="Book Tanker" hide-back-button="false">
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
           
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">

<div class="button-bar">
  <a class="button" ng-click="showBookNow()">Book Now</a>
  <a class="button" ng-click="showBookLater()">Book Later</a>
</div>   
    </ion-footer-bar>
      
  </ion-content>
</ion-view>
